/*common sheared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}

/*nav rel css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-titel {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.diff-r {
    color: #FD6E0A;
}

.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pic {
    width: 500px;
    height: 600px;
    padding-left: 160px;
}

.heding {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.titel {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.pera {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;

}

.content {
    max-width: 500px;
}

.bottom {
    position: absolute;
    padding-top: 10px;
    width: 130px;
    height: 700px;
}

/*main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*About section*/
.about {
    padding: 130px 150px;
    margin: 150px 0;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
}

.section-titel {
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}

.details {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.info-heading {
    color: #757575;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}

.info-details {
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}